<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Property Search Results</title>
    <script scr="propertySearch.js"></script>
  </head>

  <body>

    <p><span id="totalPrice"></span></p>

  </body>
</html>